<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929800848517-k54maj4vi4qashc75aufbqq6ao8imah5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929800848517-k54maj4vi4qashc75aufbqq6ao8imah5</string>
	<key>API_KEY</key>
	<string>AIzaSyDTFZsKXy8Teb3wTKIPpMBy_lBP-ujeDvE</string>
	<key>GCM_SENDER_ID</key>
	<string>929800848517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.communitybikesharing</string>
	<key>PROJECT_ID</key>
	<string>bike-b33e3</string>
	<key>STORAGE_BUCKET</key>
	<string>bike-b33e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929800848517:ios:27709df785faaa948395ec</string>
	<key>DATABASE_URL</key>
	<string>https://bike-b33e3-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>